<link rel="stylesheet" href="../static/pokedex/index.css">

{% include "pokedex/header.html" %}

<div class="container">
    <ul>
        {% if pokemon_list %} {% for pokemon in pokemon_list %}
        <li>
            <div class='card'>
                <div class='row'>
                    <div class="col">
                        <p>ID : {{pokemon.pokemon_id}}</p>
                    </div>
                    <div class="col">
                        <h3>{{pokemon.name}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button>
                        <a href="/pokedex/{{pokemon.pokemon_id}}/">Details</a>
                      </button>
                    </div>
                </div>

            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No pokemon are available.</p>
    {% endif %}

</div>