.title {
    font-style: italic;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    border: 1px, solid;
}

.sprite {
    height: 150%;
}

.adapter {
    height: 500px;
}

.subtitle {
    margin-bottom: -2em;
}