li {
    list-style: none;
}

.w50 {
    width: 50%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #969696 21%, #F8F8F8 199%);
    transform: translate3d(20px, 20px, 0) scale(0.89);
    filter: blur(40px);
    opacity: var(0.54);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.couleur:hover {
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(242,71,38, .2) /*rgba(33,33,33,.2)*/;
}
.normal:hover {
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(168,168,120, .2) /*rgba(33,33,33,.2)*/;
}
.fire:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(240,128,48, .2) /*rgba(33,33,33,.2)*/;
}
.water:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(104,144,240, .2) /*rgba(33,33,33,.2)*/;
}
.grass:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(120,200,80, .2) /*rgba(33,33,33,.2)*/;
}

.electric:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(248,208,48, .2) /*rgba(33,33,33,.2)*/;
}
.ice:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(152,216,216, .2) /*rgba(33,33,33,.2)*/;
}
.fighting:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(192,48,40, .2) /*rgba(33,33,33,.2)*/;
}
.poison:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(160,64,160, .2) /*rgba(33,33,33,.2)*/;
}
.ground:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(160,64,160, .2) /*rgba(33,33,33,.2)*/;
}
.flying:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(168,144,240, .2) /*rgba(33,33,33,.2)*/;
}
.psychic:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(248,88,136, .2) /*rgba(33,33,33,.2)*/;
}
.bug:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(168,184,32, .2) /*rgba(33,33,33,.2)*/;
}
.rock:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(184,160,56, .2) /*rgba(33,33,33,.2)*/;
}
.ghost:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(112,88,152, .2) /*rgba(33,33,33,.2)*/;
}
.dark:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(112,88,72, .2) /*rgba(33,33,33,.2)*/;
}
.dragon:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(112,56,248, .2) /*rgba(33,33,33,.2)*/;
}
.steel:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(184,184,208, .2) /*rgba(33,33,33,.2)*/;
}
.fairy:hover{
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 5px 11px rgba(240,182,188, .2) /*rgba(33,33,33,.2)*/;
}

.card {
    background: white;
    width: 200px;
}